# system-specific temp, backup, thumbnail etc. files
.~lock*
*.backup
~$*
.DS_Store
Thumbs.db

# R(Studio) specific (temp) files
.RData
.Rhistory
.Rproj.user
.Ruserdata

# API keys and credentials
config.toml
.httr-oauth
.mail_credentials

# generated R code (by `knitr::purl()`)
*-GEN.R

# article metadata
article_metadata.rds

